

body {background-color: #696b6a; background-image: url("myBackground.jpg"); text-align: center;}

#nav-table {width: 800px; margin-left: 300px;}

#nav-th {width: 200px;}

p {text-align: center; color: #40b6d6; font-size: 50px;}





